<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <!-- NAVBAR -->
    <%- include('navbar'); %>
    <!-- NAVBAR -->

    <div class="ml-4">
        <h2 class="text-3xl mt-4">Welcome <%= username %>!</h2>

        <% products.forEach( product => { %>
            <div class="border-2 border-black rounded-md mx-6 my-6 flex justify-between p-4">
                <form class="flex justify-between w-full" action="/addToCart" method="post">
                    <div>
                        <label class="font-bold m-4" name="id" ><%= product.name %></label>
                        <input type="hidden" name="id" value=<%= product.id %>><input>
                        <h3 class="text-green-600 mx-4"><%= product.price %></h3>
                    </div>
                    <% if (product.cart) { %>
                    <button class="mr-4" type="submit" disabled>In cart</button>
                    <% } else { %>
                    <button class="mr-4" type="submit">Add to Cart</button>
                    <% } %>
                    
                </form>
                
            </div>
        <% }) %>
    </div>
    
        
</body>
</html>